<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\QGIS 3.26.3\apps\Python39\python.exe|C:\inetpub\wwwroot\flask_app\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <httpRedirect enabled="false" destination="http://127.0.0.1:5000/" exactDestination="false" childOnly="true" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flask_app" />
  </appSettings>
</configuration>  